
    body {
      font-family: monospace;
      background-color: #f0f0f0;
      color: #333;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      border-style: dashed;
      border: 2px solid red;
    }

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      border-style: dashed;
      border: 2px dashed red;
    }

    th {
      background-color: #f2f2f2;

    }

    .code {
      font-family: monospace;
      background-color: #eee;
      padding: 5px;
      border-radius: 3px;
    }
